extends layout.pug

block title
    each val in title
        title= val.name

block content
    content
        section.banner
            aside.greeting.col-small-12.col-medium-4
                each val in head
                    h1= val.name
            nav.col-small-12.col-medium-8
                ul.sort-list.row
                    li
                        a(href='/?sort=hotness') Hot!
                    li
                        a(href='/?sort=top') Top
                    li
                        a(href='/?sort=newest') Newest
                    li
                        a(href='/?sort=controversial') Controversial
        section.wrapper
            ul.list-posts.row
                each val in posts
                    li(class="" + val.id).col-small-12.col-large-8
                        h2
                            a(href= '/post/?post=' + val.id)= val.title
                        div.row
                            p.author.col-small-6= "Created by " + val.user.username
                            
                            aside.scores.col-small-4
                                p.score Score: #{val.voteScore}
                                p.upV Upvotes: #{val.up} 
                                p.downV Downvotes: #{val.down}
                        div.row.votes
                            each us in user
                                button.vote-button.up(data-postid=val.id, data-userid=us.id, data-direction='1') UPVOTE
                                button.vote-button.down(data-postid=val.id, data-userid=us.id, data-direction='-1') DOWNVOTE
            each cat in sort
                nav.nextPage
                    ul.row
                        each val in prev
                            li.prev.col-small-3
                                a(href= "?sort=" + cat.sort + "&page=" + val.page) 
                                    div Previous
                        
                        each val in next
                            li.next.col-small-3
                                a(href= "?sort=" + cat.sort + "&page=" + val.page) 
                                    div Next