extends layout.pug

block title
    each val in title
        title= val.name

block content
    content
        section.banner
            aside.greeting.col-small-12.col-medium-4
                each val in head
                    h1= val.name
            nav.col-small-12.col-medium-8
                ul.sort-list.row
                    li
                        a(href='/?sort=hotness') Hot!
                    li
                        a(href='/?sort=top') Top
                    li
                        a(href='/?sort=newest') Newest
                    li
                        a(href='/?sort=controversial') Controversial
        section.wrapper
            ul.list-posts.row
                each val in posts
                    li.col-small-12 
                        h2
                            a(href= '/post/?post=' + val.id)= val.title
                        div.row
                            p.author.col-small-6= "Created by " + val.user.username
                            aside.scores.col-small-4
                                p Score: #{val.voteScore}
                                p Upvotes: #{val.up} 
                                p Downvotes: #{val.down}
                        form(action='/vote', method='post')
                            input(type='hidden', name='vote', value='1')
                            input(type='hidden', name='postId', value= val.id)
                            input(type='hidden', name='userId', value= val.user.id)
                            button(type='submit') upvote this
                        form(action='/vote', method='post')
                            input(type='hidden', name='vote', value='-1')
                            input(type='hidden', name='postId', value= val.id)
                            input(type='hidden', name='userId', value= val.user.id)
                            button(type='submit') downvote this
            each cat in sort
                nav.nextPage
                    ul.row
                        each val in prev
                            li
                                a(href= "?sort=" + cat.sort + "&page=" + val.page) Previous
                        
                        each val in next
                            li
                                a(href= "?sort=" + cat.sort + "&page=" + val.page) Next